@page "/"


<h1></h1>
<button onclick="start()" id="starter">START</button>
<button id="connecter" onclick="connect()">CONNECTER</button>
<button id="discon" onclick="discon()">disconnecter</button>

<p id="orientation">selam</p>

@{
   
}

  




  

